.page-404
  background: linear-gradient(180deg, #010101 20.83%, #270E01 42.46%, #B94101 108.68%)
  min-height: 80vh
  display: flex
  align-items: center
  justify-content: center
  
  &__content
    text-align: center
    
  &__title
    font-size: 34px
    font-family: $fontDisplay
    text-transform: uppercase
    margin: 0 0 16px
    +r($sm)
      font-size: 20px
      
  &__text
    color: rgba(255,255,255, 0.6)
    
  &__btn-box
    margin-top: 40px
