<footer class="footer">
  <div class="footer__inner">
    <div class="footer__top">
      <a class="footer__logo" href="/">
        <img src="img/vap.png" alt="Arcanum" width="160" height="34">
      </a>

      <div class="footer__contacts">
        <a class="footer__contact-item" href="https://yandex.ru/maps/" target="_blank">
          <img src="img/foot-nav.png" alt="" width="16" height="16">
          <span>г.Москва ул.Новоостаповская д.20</span>
        </a>
        <a class="footer__contact-item" href="tel:+70000000000">
          <img src="img/foot-tel.png" alt="" width="16" height="16">
          <span>+7 (000) 000-00-00</span>
        </a>
        <a class="footer__contact-item" href="mailto:info@arcanum.ru">
          <img src="img/foot-email.png" alt="" width="16" height="16">
          <span>info@arcanum.ru</span>
        </a>
        <div class="footer__socials">
          <a href="#" class="footer__social" aria-label="Telegram">
            <img src="img/foot-soc-tg.png" alt="Telegram" width="32" height="32">
          </a>
          <a href="#" class="footer__social" aria-label="VK">
            <img src="img/foot-soc-vk.png" alt="VK" width="32" height="32">
          </a>
          <a href="#" class="footer__social" aria-label="Максим">
            <img src="img/foot-soc-max.png" alt="Максим" width="32" height="32">
          </a>
        </div>
      </div>

      <nav class="footer__nav">
        <ul class="footer__nav-col">
          <li><a href="#about">О нас</a></li>
          <li><a href="#interior">Интерьер</a></li>
          <li><a href="#menu">Меню</a></li>
          <li><a href="#events">Афиша</a></li>
        </ul>
        <ul class="footer__nav-col">
          <li><a href="#service">Сервис</a></li>
          <li><a href="#booking">Бронирование</a></li>
          <li><a href="#contacts">Контакты</a></li>
        </ul>
      </nav>
    </div>

    <hr class="footer__divider">

    <div class="footer__bottom">
      <p class="footer__copy">&copy; <%= copyright %> <%= new Date().getFullYear() %>. Все права защищены.</p>
      <div class="footer__docs">
        <a href="#">Политика конфиденциальности</a>
        <a href="#">Согласие на рассылку</a>
        <a href="#">Файлы Cookie</a>
      </div>
    </div>
  </div>
</footer>
