<%
var data = {
  title: "Arcanum Lounge",
  copyright: "Arcanum"
};

var headerHtml = _.template(require('../includes/header.html'))(data);
var mobileFooter = _.template(require('../includes/mobile-footer.html'))(data);
var mobileMenu = _.template(require('../includes/mobile-menu.html'))(data);

var footerHtml = _.template(require('../includes/footer.html'))({
  ...data,
  mobileFooter,
  mobileMenu
});
%><!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist:wght@400;600&family=Yeseva+One&display=swap" rel="stylesheet">
</head>
<body>

<div class="over">
  <%= headerHtml %>

  <main>
    <section class="hero">
      <img class="hero__bg" src="img/hero.jpg" alt="">
      <div class="hero__overlay"></div>
      <div class="hero__content">
        <h1 class="hero__title">Лаунж-пространство в сердце Москвы</h1>
      </div>
    </section>
  </main>

  <%= footerHtml %>
</div>

</body>
</html>
