<%
var data = {
title: "Новость — Arcanum Lounge",
copyright: "Arcanum",
logo: "img/logo-menu.svg"
};

var headerHtml = _.template(require('../includes/header.html'))(data);
var mobileFooter = _.template(require('../includes/mobile-footer.html'))(data);
var mobileMenu = _.template(require('../includes/mobile-menu.html'))(data);

var footerHtml = _.template(require('../includes/footer.html'))({
...data,
mobileFooter,
mobileMenu
});
%><!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.title %></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist:wght@400;600&family=Yeseva+One&display=swap" rel="stylesheet">
</head>
<body>

<div class="inner-page over">
  <%= headerHtml %>
  
  <main class="inner-page-container bg111">
    <div class="all">
      <section class="menu-wrapper js-tabs-wrapper">
        <!-- Вкладки навигации -->
        <div class="menu-tabs">
          <ul class="menu-tabs-list js-tabs-list">
            <li class="active"><span>Основное меню</span></li>
            <li><span>Барная карта</span></li>
            <li><span>Кальян</span></li>
          </ul>
        </div>
        
        <div class="menu-tabs-content js-tabs-box show">
          <div class="menu-section">
            <h2 class="menu-section__title">Закуски1</h2>
            
            <div class="menu-list">
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример нример названия ример названия ример названия ример названия азвания блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">32 000Р</div>
                </div>
              </div>
              
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
            </div><!-- end menu-list -->
          </div><!-- end menu-section -->
          
          <div class="menu-section">
            <h2 class="menu-section__title">Горячие блюда</h2>
            <div class="menu-list">
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
            </div>
          </div>
        
        </div><!-- end menu-tabs-content -->
        <div class="menu-tabs-content js-tabs-box">
          <div class="menu-section">
            <h2 class="menu-section__title">Закуски2</h2>
            
            <div class="menu-list">
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия ример названия ример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
            </div><!-- end menu-list -->
          </div><!-- end menu-section -->
          
          <div class="menu-section">
            <h2 class="menu-section__title">Горячие блюда</h2>
            <div class="menu-list">
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
            </div>
          </div>
        
        </div><!-- end menu-tabs-content -->
        <div class="menu-tabs-content js-tabs-box">
          <div class="menu-section">
            <h2 class="menu-section__title">Закуски3</h2>
            
            <div class="menu-list">
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
            </div><!-- end menu-list -->
          </div><!-- end menu-section -->
          
          <div class="menu-section">
            <h2 class="menu-section__title">Горячие блюда</h2>
            <div class="menu-list">
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
              <div class="menu-box">
                <div class="menu-box__img">
                  <img src="img/dish-photo.jpg" alt="Пример названия блюда">
                </div>
                <div class="menu-box__right">
                  <div class="menu-box__info">
                    <h3 class="menu-name">Пример названия блюда</h3>
                    <p class="menu-description">По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых людей недоумение при попытках прочитать рыбу текст.</p>
                  </div>
                  <div class="menu-box__price">1000Р</div>
                </div>
              </div>
            </div>
          </div>
        
        </div><!-- end menu-tabs-content -->
      </section>
      
    </div>
  </main>
  <%= footerHtml %>
  
  <div id="modal-booking" class="just-modal">
    <div class="just-modal__overlay"></div>
    <div class="just-modal__wrapper">
      <div class="just-modal__container just-modal__container--booking">
        <div class="just-modal__body just-modal__body--booking">
          <button type="button" class="just-modal__close js-just-modal__close" aria-label="Закрыть">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"/><line x1="6" y1="6" x2="18" y2="18"/></svg>
          </button>
          <h2 class="booking__title">Забронируйте пространство<br>в центре столицы</h2>
          <form class="booking-form">
            <div class="booking-form__row">
              <input class="booking-form__input" name="modal_name" placeholder="Ваше имя" required>
              <input class="booking-form__input" name="modal_phone" placeholder="Номер телефона" required>
            </div>
            <div class="booking-form__row">
              <input class="booking-form__input" name="modal_datetime" placeholder="Дата и время" required>
              <div class="booking-form__input booking-form__counter-wrap">
                <span class="booking-form__counter-label">Количество персон</span>
                <div class="persons-counter js-persons-counter">
                  <button type="button" class="js-counter-minus">−</button>
                  <span class="js-counter-value">1</span>
                  <button type="button" class="js-counter-plus">+</button>
                </div>
              </div>
            </div>
            <input class="booking-form__input booking-form__input--full" name="modal_comment" placeholder="Комментарий">
            <label class="booking-form__agree check">
              <input type="checkbox" class="check-input" required>
              <span class="check-check"></span>
              <span class="check-label">Нажимая «забронировать стол», я подтверждаю согласие с <a href="#">политикой конфиденциальности</a></span>
            </label>
            <button type="submit" class="booking-form__submit">Забронировать стол</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
