button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-flex
  align-items: center
  justify-content: center
  text-align: center
  cursor: pointer
  transition: all $transitionSpeed $ease
  color: $colorBg
  background: $colorAccent
  border-radius: 4px
  padding: 14px 24px
  font-weight: 500
  border: 1px solid $colorAccent
  text-decoration: none
  font-size: 15px
  font-family: $baseFont
  &:hover
    background: $colorAccentHover
    border-color: $colorAccentHover
    color: $colorBg
  &--full
    width: 100%
  &--ghost
    color: $colorAccent
    background: transparent
    border-color: $colorAccent
    &:hover
      background: $colorAccent
      color: $colorBg
