button
  -webkit-appearance: none
  border: 0
  box-shadow: none
  cursor: pointer
  &:focus
    outline: none

.btn
  display: inline-flex
  align-items: center
  justify-content: center
  text-align: center
  cursor: pointer
  transition: all $transitionSpeed $ease
  color: #F9EFE2
  background: #913500
  border-radius: 64px
  padding: 14px 36px
  font-weight: 500
  border: 1px solid #913500
  text-decoration: none
  font-size: 15px
  font-family: $baseFont
  box-shadow: 0 1px 3px 1px rgb(245 231 217 / 0.1)
  &:hover
    background: #B55016
    color: #F9EFE2
  &--full
    width: 100%
  &--ghost
    color: $colorAccent
    background: transparent
    border-color: $colorAccent
    &:hover
      background: $colorAccent
      color: $colorBg
