.input,
input[type="text"],
input[type="email"],
input[type="tel"],
textarea
  padding: 14px 20px
  font-size: 15px
  font-family: $baseFont
  color: $colorText
  background: $colorBgSecond
  border-radius: 4px
  border: 1px solid rgba(255,255,255, .2)
  width: 100%
  transition: border-color $transitionSpeed $ease
  &::placeholder
    color: $colorTextMuted
  &:hover
    border-color: rgba(255,255,255, .4)
  &:focus
    border-color: $colorAccent
    outline: none
