.input,
input[type="text"],
input[type="email"],
input[type="tel"],
textarea
  padding: 14px 20px
  font-size: 15px
  font-family: $baseFont
  color: $colorText
  background: $colorBgSecond
  border-radius: 4px
  border: 1px solid rgba(255,255,255, .2)
  width: 100%
  transition: border-color $transitionSpeed $ease
  &::placeholder
    color: $colorTextMuted
  &:hover
    border-color: rgba(255,255,255, .4)
  &:focus
    border-color: $colorAccent
    outline: none

.check
  position: relative
  cursor: pointer
  
  &-input
    opacity: 0
    z-index: -1
    position: absolute
    &:checked ~ .check-check
      &:before
        width: 10px
        height: 10px
        border-radius: 4px
        background: #fff
        display: block
        content: ""
  &-label
  &-check
    display: flex
    align-items: center
    justify-content: center
    width: 16px
    height: 16px
    border-radius: 4px
    border: 1px solid rgba(255, 255, 255, 0.12)
    background: rgba(255, 255, 255, 0.06)
